*~
*.log
.gradle
*.sh
/webapp/build
/dbmodel/build/os.common-tgt-items-std-schema.xml
/dbmodel/build/os.production-schema.xml
/dbmodel/build/classes
/dbmodel/build/gen
/dbmodel/build/generated
/dbmodel/build/libs
/dbmodel/build/so_additions.xml
/dbmodel/build/tmp
/dbmodel/build/resources/main/*
!/dbmodel/build/resources/main/genomic_model.xml
